.ace {
    border: yellow 2px solid;
}

h1,
h2 {
    text-align: center;
}

img {
    width: 12%;
    vertical-align: middle;
}

#content {
    width: 950px;
    margin: 0 auto;
    text-align: center;
    /*border: 1px red solid;*/
}
