#subheader{
    font-family: 'Abel', sans-serif;
    text-align: center;
}

#bmiForm{
    font-family: 'Abel', sans-serif;
    display: inline-block;
    /*border: solid 1px red;*/
    padding: 100px;
}

#img1, #img2{
    display: inline-block;
    margin: 50px;
    /*border: solid 1px black;*/
    position: relative;
    top: -200px;
}

#content{
    text-align: center;
}


p{
    font-family: 'Abel', sans-serif;
}

h2{
   font-family: 'Abel', sans-serif; 
}

#results{
    font-family: 'Abel', sans-serif; 
    text-align: center;
    padding: 20px;
}

#resultsContent{
    width: 500px;
    /*border: solid 2px green;*/
    text-align: center;
    margin: auto;
}

#chartImage{
    text-align: center;
    /*border: solid 2px blue;*/
}

